<form action="/tailors/signup" method="POST">
   <input type="text" name="name" placeholder="Add Tailor Name">
   <input type="text" name="email" placeholder="Add Tailor email">
   <input type="text" name="address" placeholder="Add Tailor address">
    <input type="text" name="contactNumber" placeholder="Add Tailor contactNumber">
   <input type="text" name="priceRange" placeholder="Add Tailor priceRange">
    <input type="text" name="location" placeholder="Add Tailor location">
   <input type="text" name="consumersBooking" placeholder="Add Tailor consumersBooking">
   
   <input type="password" name="password" placeholder="Enter your password"> 
    <input type="submit" name submit>     
</form>