<ul>
    <li>ID :
        <%= consumer.id%>
    </li>
    <li>Name :
        <%= consumer.name%>
    </li>
    <li>Location :
        <%= consumer.location%>
    </li>
    <li>Contact Number :
        <%= consumer.contactNumber%>
    </li>
</ul>