<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container">
      <div class="col-lg-3">
        <ul>
            <li>ID : <%= tailor.id%></li>
            <li>Name : <%= tailor.name%></li>
            <button><a href="/tailors/update/<%= tailor.id%>">update</a></button>
            <button><a href="/tailors/delete/<%= tailor.id%>">delete</a></button>
        </ul>
    

    </div>
    
</div>
</body>
</html>