<% include ./partials/header %>
    <div class="view hm-black-light">
        <div class="full-bg-img flex-center pattern-4">
            <ul>
                <li>
                    <h1 class="h1-responsive wow fadeInUp title"><strong>Looking for your perfect Tailor within your area and budget</strong></h1></li>
                <li>
                   <form action="/tailors/result" method="post">
                    <div class="row wow fadeIn" data-wow-delay="0.4s">
                        <div class="col-md-3">
                            <div class="form-group md-form">
                            <select class="form-control" id="sel1" name="location">
                                <option value="UK">UK</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Italy">Italy</option>
                                <option value="Asia">Asia</option>
                              </select>
                                <label for="form1">Your Location</label>
                                 </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <input type="text" id="form2" class="form-control validate" name="priceRange">
                                <label for="form2">Your Price Range</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input type="text" id="form3" class="form-control validate" name="to">
                                <label for="form3">Your Date to </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input type="text" id="form3" class="form-control validate" name="from">
                                <label for="form3">Your Date from</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input type="submit">
                            </div> 
                        </div>
                    </div>
                    </form>
                </li>
                <li class="payment">
                    <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>



































    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <h1>Tailor Name</h1>
                    </div>

                </div>

                <div class="row">
                    <%tailors.forEach(function(tailor){%>
                        <div class="col-sm-2 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="https://www.royalwarrant.org/sites/default/files/styles/company_logo/public/OFFICIAL%20LOGO%20ANDERSON%26SHEPPARD.jpg?itok=ndPSpC1a" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">$$$$</h4>
                                    <h4>
                                        <%= tailor.name%>
                                            <a href="#"></a>
                                    </h4>
                                    <p>Since 1906, Anderson & Sheppard has upheld the traditions of Savile Row to create stunning bespoke suits for its clients.</p>
                                </div>
                                <div>
                                    <ul class="list-inline intro-social-buttons">
                                        <li>
                                            <a href="/bookings/add" class="btn btn-default btn-lg"><i class="fa fa-calendar fa-fw"></i> <span class="network-name">Book Now</span></a>
                                        </li>
                                        <li>
                                            <a href="/tailors/<%= tailor.id%>" class="btn btn-default btn-lg"><i class="fa fa-info fa-fw"></i> <span class="network-name">More Info</span></a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <%})%>

                </div>

            </div>

        </div>
    </div>

<% include ./partials/footer %>