<form action="/bookings/add" method="POST">
   <input type="text" name="IDConsumer" placeholder="Booked by" value="<%= Consumer[1].name%>">
   <input type="text" name="IDTailor" placeholder="Tailor "> 
   <input type="text" name="date" placeholder="date ">
   <input type="text" name="comments" placeholder="comments"> 
    <input type="submit" name submit>     
</form>