<form action="/consumers/add" method="POST">
   <input type="text" name="name" placeholder="Add Name">
   <input type="text" name="location" placeholder="Add location"> 
   <input type="text" name="email" placeholder="Add email">
   <input type="text" name="contactNumber" placeholder="Add Contact Number"> 
    <input type="submit" name submit>  
</form>