<form action="/tailors/add" method="POST">
   <input type="text" name="name" placeholder="Add Tailor Name">
   <input type="text" name="address" placeholder="Add Tailor address"> 
   <input type="text" name="email" placeholder="Add Tailor email">
   <input type="text" name="contactNumber" placeholder="Add Tailor Contact Number"> 
    <input type="submit" name submit>     
</form>