   <form action="/consumers/booking/update/<%= IDConsumer%>/<%= booking.id%>"method="post">
    <input type="text" name="date" value="<%=booking.dateOfBooking%>">
    <input type="text" name="time" value="<%=booking.timeOfBooking%>">
    <input type="submit" name="Submit" value="submit">
</form>   