

<form action="/consumers/booking/<%= IDConsumer%>/<%= IDTailor%>" method="post">
    <input type="date" name="date">
     <input type="time" name="time">
    <input type="submit">
</form>

<h2>Select the Date and Time for the Appointment </h2>