<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container">
      <div class="col-lg-3">
        <ul>
            <li>tailor ID : <%= tailor.id%></li>
            <li>Name : <%= tailor.name%></li>
            
        </ul>
    

    </div>
    
</div>
</body>
</html>