<div class="container">
   
      <div class="col-lg-3">
           <h1>You have successfully booked</h1>
            <li>ID : <%= tailors.id%></li>
            <li>Name : <%= tailors.name%></li>
  
   
    

    </div>
    
</div>